---
layout: default
title: Místní sdružení ve Středočeském kraji
---

<div class="container container--default pt-8 lg:py-24">
 <section>
<h1 class="head-alt-md md:head-alt-lg max-w-5xl mb-8">Místní sdružení ve Středočeském kraji</h1>
  <main>
   <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">


{% include ms/item.html 
    img='https://a.pirati.cz/stredocesky/img/ms/benesov/benesovaci-small.jpg'
    name='Benešov'
    area='okres Benešov'
    link='/benesov/'
    president="Václav Kubaljak"
    %}

{% include ms/item.html 
    img= 'https://a.pirati.cz/stredocesky/img/ms/beroun/rozcestnik-small.jpg'
    name= 'Beroun'
    area= "Beroun mimo Karlštejn Hlásná a Zadní Třebaň"
    link= "/beroun/"
    president="Sámir Shanaáh"
    %}    

{% include ms/item.html 
    img='https://a.pirati.cz/stredocesky/img/ms/brandys/tym-resized.jpg'
    name= 'Brandýs n.L. - Stará Boleslav'
    area= "správní obvod města"
    link= "https://www.piratibrandys.cz"
    president= "Patrick Zandl"
    %}

{% include ms/item.html 
    img= 'https://a.pirati.cz/stredocesky/img/ms/jesenice-jilove/rozcestnik-spolecna.jpg'
    name= 'Jesenice - Jílové'
    area= "POU Jesenice a Jílové"
    link= "/jesenice-jilove/"
    president="Jan Čáha"
    %}

{% include ms/item.html 
    img= 'https://a.pirati.cz/stredocesky/img/ms/kladno/radnice-small.jpg'
    name= 'Kladno'
    area= "okres Kladno"
    link= "https://kladno.pirati.cz"
    president="Michal Hažlinský"
    %}

{% include ms/item.html 
    img= 'https://a.pirati.cz/stredocesky/img/ms/kolin/kolinaci2-small.jpg'
    name= 'Kolín'
    area= "okres Kolín"
    link= "/kolin/"
    president="Tereza Kvitová"
    %}

{% include ms/item.html 
    img= 'https://a.pirati.cz/stredocesky/img/ms/kutna-hora/mesto-small.jpg'
    name= 'Kutná Hora'
    area= "okres Kutná Hora"
    link= "/kutna-hora/"
    president="Milan Zelený"
    %}

{% include ms/item.html 
    img= 'https://a.pirati.cz/stredocesky/img/ms/mlada-boleslav/mesto-small.jpg'
    name= 'Mladá Boleslav'
    area= "okres Mladá Boleslav"
    link= "/mlada-boleslav/"
    president= "petra.smutna"
    %}

{% include ms/item.html 
    img= 'https://a.pirati.cz/stredocesky/img/ms/nymburk/rozcestnik-spolecna.jpg'
    name= "Nymburk"
    area= "okres Nymburk"
    link= "/nymburk/"
    president="Petr Procházka
    "%}

{% include ms/item.html 
    img= 'https://a.pirati.cz/stredocesky/img/ms/pribram/vsichni-small.jpg'
    name= 'Příbram'
    area= "okres Příbram"
    link= "/pribram/"
    president="Josef Bouše"
    %}

   </div>
  </main>
  </section>
 </div>





