---
layout: page
title: Místní sdružení ve Středočeském kraji
---

<div class="row">
  <div class="medium-12 large-12 columns">
    <section class="o-section o-section--noSpaceBottom">
      <div class="o-section-inner">
        <div class="c-BasicPage">
          <div class="vspace-nb-m">
            <div class="row vspace-nb-m">

{% include ms/item.html 
    img='ms/benesov/benesovaci-small.jpg'
    name='Benešov'
    area='okres Benešov'
    link='/benesov/'
    president="jana.skopalikova"
    %}

{% include ms/item.html 
    img='ms/brandys/tym-resized.jpg'
    name= 'Brandýs n.L. - Stará Boleslav'
    area= "správní obvod města"
    link= "https://www.piratibrandys.cz"
    president= "Patrick Zandl"
    %}

{% include ms/item.html 
    img= 'ms/kladno/radnice-small.jpg'
    name= 'Kladno'
    area= "okres Kladno"
    link= "/kladno/"
    president="Radek Černohous"
    %}

{% include ms/item.html 
    img= 'ms/kolin/kolinaci2-small.jpg'
    name= 'Kolín'
    area= "okres Kolín"
    link= "/kolin/"
    president="martin.polak"
    %}

{% include ms/item.html 
    img= 'ms/kutna-hora/mesto-small.jpg'
    name= 'Kutná Hora'
    area= "okres Kutná Hora"
    link= "/kutna-hora/"
    president="Milan Zelený"
    %}

{% include ms/item.html 
    img= 'ms/mlada-boleslav/mesto-small.jpg'
    name= 'Mladá Boleslav'
    area= "okres Mladá Boleslav"
    link= "/mlada-boleslav/"
    president= "petra.smutna"
    %}

{% include ms/item.html 
    img= 'city.png'
    name= "Nymburk"
    area= "okres Nymburk"
    link= "https://www.facebook.com/PiratiNymburk"
    president="Petr Procházka
    "%}

{% include ms/item.html 
    img= 'ms/pribram/vsichni-small.jpg'
    name= 'Příbram'
    area= "okres Příbram"
    link= "/pribram/"
    president="Jan Trnka"
    %}

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>

