---
layout: page
title: Místní sdružení ve Středočeském kraji
---

<div class="row">
  <div class="medium-12 large-12 columns">
    <section class="o-section o-section--noSpaceBottom">
      <div class="o-section-inner">
        <div class="c-BasicPage">
          <div class="vspace-nb-m">
            <div class="row vspace-nb-m">

{% include ms/item.html 
    img='ms/benesov/benesovaci-small.jpg'
    name='Benešov'
    area='okres Benešov'
    link='/benesov/'
    president="Václav Kubaljak"
    %}

{% include ms/item.html 
    img='ms/beroun/rozcestnik-small.jpg'
    name='Beroun'
    area='okres Beroun mimo Karlštejn Hlásná a Zadní Třebaň'
    link='/beroun/'
    president="Sámir Shanaáh"
    %}

{% include ms/item.html 
    img='ms/brandys/tym-resized.jpg'
    name= 'Brandýs n.L. - Stará Boleslav'
    area= "správní obvod města"
    link= "https://www.piratibrandys.cz"
    president= "Patrick Zandl"
    %}

{% include ms/item.html 
    img= 'ms/jesenice-jilove/rozcestnik-spolecna.jpg'
    name= 'Jesenice - Jílové'
    area= "POU Jesenice a Jílové"
    link= "/jesenice-jilove/"
    president="Jan Čáha"
    %}

{% include ms/item.html 
    img= 'ms/kladno/radnice-small.jpg'
    name= 'Kladno'
    area= "okres Kladno"
    link= "https://kladno.pirati.cz"
    president="Michal Hažlinský"
    %}

{% include ms/item.html 
    img= 'ms/kolin/kolinaci2-small.jpg'
    name= 'Kolín'
    area= "okres Kolín"
    link= "/kolin/"
    president="Tereza Kvitová"
    %}

{% include ms/item.html 
    img= 'ms/kutna-hora/mesto-small.jpg'
    name= 'Kutná Hora'
    area= "okres Kutná Hora"
    link= "/kutna-hora/"
    president="Milan Zelený"
    %}

{% include ms/item.html 
    img= 'ms/mlada-boleslav/mesto-small.jpg'
    name= 'Mladá Boleslav'
    area= "okres Mladá Boleslav"
    link= "/mlada-boleslav/"
    president= "matous.adamu"
    %}

{% include ms/item.html 
    img= 'ms/nymburk/rozcestnik-spolecna.jpg'
    name= "Nymburk"
    area= "okres Nymburk"
    link= "/nymburk/"
    president="Petr Procházka
    "%}

{% include ms/item.html 
    img= 'ms/pribram/vsichni-small.jpg'
    name= 'Příbram'
    area= "okres Příbram"
    link= "/pribram/"
    president="Josef Bouše"
    %}

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /. o-section -->
  </div>
</div>

